body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff1f6;
    text-align: center;
}

header {
    background: #ffe4ec;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #c2185b;
    margin-bottom: 15px;
}

.controles {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input, select, textarea {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #f8bbd0;
    text-align: center;
}

button {
    background: #ec407a;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #d81b60;
}

#productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    padding: 25px;
    justify-items: center;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 250px;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.card h3 {
    font-size: 16px;
    margin: 10px 0 5px;
}

.card p {
    margin: 4px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 12px;
    align-items: center;
}

textarea {
    resize: none;
}

.btn-volver {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #ec407a;
    padding: 8px 14px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

header {
    position: relative;
    padding: 25px;
}

.nav-top {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 10px;
}

.inicio {
    text-decoration: none;
    font-size: 14px;
    color: #8a5f6f;
    padding: 8px 18px;
    border-radius: 25px;
    border: 1.5px solid #d6b3c2;
    background: rgba(255,255,255,0.85);
}

.inicio:hover {
    background: #f3e8ec;
}
