body {
    font-family: Arial, sans-serif;
    background: #fdecef;
    text-align: center;
}

/* CONTENEDOR GENERAL */
#contenedor-personajes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 por fila */
    gap: 25px;
    max-width: 1100px;   /* deja espacio a los lados */
    margin: 0 auto;     /* centra todo */
    padding: 20px;
}

.contenedor-principal {
    width: 100%;
}



/* TARJETAS */
.practice-card {
    background: white;
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.practice-card:hover {
    transform: scale(1.05);
}

/* IMÁGENES */
.practice-card img {
    width: 100%;
    height: 180px;        /* tamaño controlado */
    object-fit: cover;   /* no se deforman */
    border-radius: 10px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.modal-contenido {
    background: white;
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

#cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
}

/* CONTENEDOR DE BUSCADOR Y BOTONES */
.controls {
    margin: 20px 0;
}

/* INPUT BUSCAR */
.controls input {
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #f2b5c4;
    outline: none;
    font-size: 14px;
}

/* BOTONES BONITOS */
.controls button {
    background: #f59bb2;
    color: white;
    border: none;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 4px 8px rgba(245,155,178,0.4);
}

/* HOVER */
.controls button:hover {
    background: #ee6f92;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(238,111,146,0.5);
}

/* CLICK */
.controls button:active {
    transform: scale(0.95);
}
